{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html>


<body>

{% block main %}




    <div class="login-dark">
        <form method="post">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img style="width:2   50px;
                height:250px;" src="{% static '/img/logo-1.png' %}"></div>

            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Login"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Senha"></div><a class="text-left forgot" href="#">Esqueci minha senha</a>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Entrar</button>
                <a href=""class="btn btn-dark btn-block">Cadastrar</a></div>
        </form>

    </div>

{% endblock%}


</body>

</html>